@model Accessories.Models.Product

@{
    ViewData["Title"] = "Details";
     //var photo = "../images/"+ (Model.Photo ?? "img.png");
     var photo = Model?.Photo != null ? "../images/" + Model.Photo : "../images/bracelet.jpeg";

}
}

<h1 style="color: #412C1F;">Product Details</h1>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" style="background-color: #412C1F; color: white; text-align: center;">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product Name</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>Product Description</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td>Product Price</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
                <td>Category ID</td>
                <td>@Html.DisplayFor(model => model.categoryid)</td>
            </tr>
            <tr>
                <td>Product Photo</td>
                <td>@Html.DisplayFor(model => model.Photo)</td>
            </tr>
            <tr><img src="@photo"/></tr>
        </tbody>
    </table>
</div>


